<html>
  <link rel="stylesheet" href="index.css">

  <style>
    body{ 
      font-size: 15pt;
      font-family: arial;
    }
  </style>
      <!-- Connect the html to the css file -->
  <link rel="stylesheet" href="index.css">
  <link href="https://fonts.googleapis.com/css?family=Permanent+Marker" rel="stylesheet">
  <h1>Animal Data write</h1>
  <!-- https://www.google.com/search?q=spectrum+v&espv=2&biw=1476&bih=983&source=lnms&tbm=isch&sa=X&ved=0ahUKEwjC1Jjph-jQAhXkj1QKHWWXBBcQ_AUIBigB -->

<body>
<p><a href="/search">Go to the other page</a></p>

<form method="POST" action="/addlocation">
  <p>add a new location: <input type="text" name="zipcode"> <input type="submit" value="Add"></p>
</form>

<form method="get"></form>
<table class=art>
  <tr><td id="one">
    <p>Please Note: ShelterID, ShelterLoc, Zip, Name are required</p>
    <label for="ShelterID"><b>ShelterID:</b></label>
    <input type="text" id="ShelterID" placeholder="ShelterID" required>
    <br /> 

    <label for="ShelterLoc">ShelterLoc:</label>
      <input type="text" id="ShelterLoc" placeholder="ShelterLoc" required>
      <label for="Zip">Zip:</label>
      <input type="text" id="Zip" placeholder="Zip" required>
      <label for="Name">Name:</label>
      <input type="text" id="Name" placeholder="Name" required>
      <p></p>
      <input type="submit" name="" value="Submit Shelter">
  </td></tr>
  <tr><td id="two">
    <p>Please Note: AnimalID,AnimalName, Type, Sex, Breed, Foundtime,IntakeID, Various Intake data, Location, Location address are required</p>
    <label for="AnimalID"><b>AnimalID:</b></label>
    <input type="text" id="AnimalID" placeholder="AnimalID" required>
    <br /> 

    <label for="AnimalName">AnimalName:</label>
    <input type="text" id="AnimalName" placeholder="AnimalName" required>

    <label for="Type">Type:</label>
    <input type="text" id="Type" placeholder="Type" required>
    <br /> 

    <label for="Sex">Sex:</label>
    <input type="text" id="=Sex" placeholder="Sex" required>

    <label for="Breed">Breed:</label>
    <input type="text" id="Breed" placeholder="Breed" required>

    <label for="Foundtime">Foundtime:</label>
    <input type="text" id="Foundtime" placeholder="Foundtime" required>
      <p></p>
      <input type="submit" name="" value="Submit Animal">
      <br /> 
      <br /> 

    <label for="IntakeID"><b>IntakeID:</b></label>
    <input type="text" id="IntakeID" placeholder="IntakeID" required>
    <br /> 

    <label for="Various Intake data">Various Intake data:</label>
    <input type="text" id="Various Intake data" placeholder="Various Intake data" required>
        <p></p>
        <input type="submit" name="" value="Submit Intake">
     <br /> 
     <br /> 
    <label for="Location"><b>Location:</b></label>
    <input type="text" id="Location" placeholder="Location" required>
    <br /> 

    <label for="Location address">Location address:</label>
    <input type="text" id="Location address" placeholder="Location address" required>
        <p></p>
        <input type="submit" name="" value="Submit Location">
      <br /> 
      <br /> 

  </td></tr>  
  <tr><td id="three">
    <label for="OutcomeID"><b>Outcome:</b></label>
    <input type="text" id="OutcomeID" placeholder="OutcomeID" optional>
    <br /> 

    <label for="Outcome date">Outcome date:</label>
      <input type="text" id="Outcome date" placeholder="Outcome date" optional>

      <label for="Subtype">Subtype:</label>
      <input type="text" id="Subtype" placeholder="Subtype" optional>

      <p></p>
      <input type="submit" name="" value="Submit Outcome">

  </td></tr>  

</body>


</html>
