<html>
  <style>
    body{ 
      font-size: 15pt;
      font-family: arial;
    }
    /* collapsible code from here: https://www.w3schools.com/howto/howto_js_collapsible.asp */
    /* Style the button that is used to open and close the collapsible content */
    .collapsible {
      background-color: #eee;
      color: #444;
      cursor: pointer;
      padding: 18px;
      width: 100%;
      border: none;
      text-align: left;
      outline: none;
      font-size: 15px;
    }

    /* Add a background color to the button if it is clicked on (add the .active class with JS), and when you move the mouse over it (hover) */
    .active, .collapsible:hover {
      background-color: #ccc;
    }

    /* Style the collapsible content. Note: hidden by default */
    .content {
      padding: 0 18px;
      display: none;
      overflow: hidden;
      background-color: #f1f1f1;
    }
  </style>
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.3.1/dist/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">

  <script>
    document.addEventListener('DOMContentLoaded', function () {
      var coll = document.getElementsByClassName("collapsible");
      var i;

      for (i = 0; i < coll.length; i++) {
        coll[i].addEventListener("click", function() {
          this.classList.toggle("active");
          var content = this.nextElementSibling;
          if (content.style.display === "block") {
            content.style.display = "none";
          } else {
            content.style.display = "block";
          }
        });
      }    
    }, false);
  </script>


<body>
<div class="container">
  <h1>Animal Shelter Search</h1>
  <p><a href="/write">Add or Modify Data</a></p>

  <button type="button" class="collapsible">View Shelters</button>
  <div class="content">
    <div class="row">
    {% for k in data['shelters'][0].keys() %}
      <div class="col-3">{{k}}</div>
    {% endfor %}
   </div>

    {% for n in data['shelters'] %}
      <div class="row">
      {% for k in data['shelters'][0].keys() %}
        <div class="col-3">{{n[k]}}</div>
      {% endfor %}
      </div>
    {% endfor %}
  </div>

  <button type="button" class="collapsible">View Animals</button>
  <div class="content">
    <div class="row">
    {% for k in data['animals'][0].keys() %}
      <div class="col-2">{{k}}</div>
    {% endfor %}
   </div>

    {% for n in data['animals'] %}
      <div class="row">
      {% for k in data['animals'][0].keys() %}
        <div class="col-2">{{n[k]}}</div>
      {% endfor %}
      </div>
    {% endfor %}
  </div>

  <button type="button" class="collapsible">View Intakes</button>
  <div class="content">
    <div class="row">
    {% for k in data['intakes'][0].keys() %}
      <div class="col-2">{{k}}</div>
    {% endfor %}
   </div>

    {% for n in data['intakes'] %}
      <div class="row">
      {% for k in data['intakes'][0].keys() %}
        <div class="col-2">{{n[k]}}</div>
      {% endfor %}
      </div>
    {% endfor %}
  </div>

  <button type="button" class="collapsible">View Locations</button>
  <div class="content">
    <div class="row">
    {% for k in data['locations'][0].keys() %}
      <div class="col-4">{{k}}</div>
    {% endfor %}
   </div>

    {% for n in data['locations'] %}
      <div class="row">
      {% for k in data['locations'][0].keys() %}
        <div class="col-4">{{n[k]}}</div>
      {% endfor %}
      </div>
    {% endfor %}
  </div>

  <button type="button" class="collapsible">View Outcomes</button>
  <div class="content">
    <div class="row">
    {% for k in data['outcomes'][0].keys() %}
      <div class="col-3">{{k}}</div>
    {% endfor %}
   </div>

    {% for n in data['outcomes'] %}
      <div class="row">
      {% for k in data['outcomes'][0].keys() %}
        <div class="col-3">{{n[k]}}</div>
      {% endfor %}
      </div>
    {% endfor %}
  </div>

  <div class="row"> <div class="col">Custom Search</div></div>

  <div class="row" style="font-weight: bold; background-color: lightblue;">
    <div class="col-4">Shelter Name</div>
    <div class="col-1">Type</div>
    <div class="col-1">Sex</div>
    <div class="col-2">Intake Location</div>
    <div class="col-2">Intake Condition</div>
    <div class="col-2">Outcome Type</div>
  </div>

  <form method="POST" action="/submitsearch">
  <div class="row">

    <div class="col-4 form-group">
      <select name="sheltername" method="GET" action="/">
        <option value="Any"  SELECTED>Any</option>
        {% for name in data['shelters'] %}
            <option value="{{name['sheltername']}}" SELECTED>{{name['sheltername']}}</option>"
        {% endfor %}
      </select>
    </div>

    <div class="col-1 form-group">
      <select name="animaltype" method="GET" action="/">
          <option value="Any"  SELECTED>Any</option>
          <option value="Dog" SELECTED>Dog</option>
          <option value="Cat" SELECTED>Cat</option>
      </select>
    </div>

    <div class="col-1 form-group">
      <select name="animalsex" method="GET" action="/">
          <option value="Any"  SELECTED>Any</option>
          <option value="Male" SELECTED>Male</option>
          <option value="Female" SELECTED>Female</option>
      </select>
    </div>

    <div class="col-2 form-group">
      <select name="zipcode" method="GET" action="/">
        <option value="Any"  SELECTED>Any</option>
        {% for name in data['locations'] %}
            <option value="{{name['zipcode']}}" SELECTED>{{name['zipcode']}}</option>"
        {% endfor %}
      </select>
    </div>

    <div class="col-2 form-group">
      <select name="intakecondition" method="GET" action="/">
        <option value="Any"  SELECTED>Any</option>
        <option value="Normal"  SELECTED>Normal</option>
        <option value="Sick"    SELECTED>Sick</option>
        <option value="Injured" SELECTED>Injured</option>
      </select>
    </div>

    <div class="col-2 form-group">
      <select name="outcomesubtype" method="GET" action="/">
        <option value="Any"  SELECTED>Any</option>
        <option value="Rabies Risk" SELECTED>Rabies Risk</option>
        <option value="Partner"     SELECTED>Partner</option>
        <option value="Field"       SELECTED>Field</option>
        <option value="Offsite"     SELECTED>Offsite</option>
        <option value="Medical"     SELECTED>Medical</option>
        <option value="Senior"      SELECTED>Senior</option>
      </select>
    </div>
  </div>
  <div class="row"> <div class="col-5"></div> 
    <div class="col"> 
      <button type="submit" class="btn btn-primary">Submit</button> 
    </div> 
    <div class="col-4"></div> </div>
  </form>

  <div class="row"> <div class="col">Search Result for: </div></div>
  <div style="white-space: pre-wrap; background-color: lightgrey;">{{data['query']}}</div>

  <div class="row" style="font-weight: bold; background-color: lightblue;">
    <div class="col-1">Name</div>
    <div class="col-1">ID</div>
    <div class="col-1">Shelter Name</div>
    <div class="col-1">Type</div>
    <div class="col-1">Sex</div>
    <div class="col-1">Intake Location</div>
    <div class="col-1">Intake Condition</div>
    <div class="col-1">Age</div>
    <div class="col-2">Outcome Type</div>
  </div>

  {% for n in data['searchresult'] %}
  <div class="row">
    {% for k in data['searchresult'][0].keys() %}
      <div class="col-1">{{n[k]}}</div>
    {% endfor %}
  </div>
  {% endfor %}

  </div>

</div>
</body>


</html>
